.header {
  display: flex;
  list-style: none;
  background-color: black;
  color: white;
  padding: 0px;
  margin: 0;
}

.childLI {
  padding: 20px;
  height: 60px;
}

.childLI:hover {
  background-color: gray;
}
